.body {
    width: 100%;
    height: 100%;
}

.texto {
    font-family: Helvetica;
    font-style: italic;
    color: #FFF8E7;
    position: absolute; 
    display: none;
}

.texto0 {
    width: 100%;
    top: 25%;
    height: 50%;
    text-align: center;
    font-size: 30vh;
    z-index: 3;
    display: block!important;
}

/* ESTILOS DOS TEXTOS EM INGLÊS */

.texto00en {
    top: 2vh;
    height: 33vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 20vh;
    display: block!important;
}

/* ESTILOS DOS TEXTOS EM FRANCÊS */

.texto00fr {
    top: 35vh;
    height: 33vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 20vh;
    display: block!important;
}

/* ESTILOS DOS TEXTOS EM PORTUGUÊS */

.texto00pt {
    top: 66vh;
    height: 33vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 20vh;
    display: block!important;
}

.texto01pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto02pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto03pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto04pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto05pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto06pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto07pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 8vw;
}

.texto071pt {
    top: 55vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 12vw;
}

.texto08pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto09pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto10pt {
    top: 30vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 12vw;
}

.texto11pt {
    top: 35vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 9vw;
}

.texto12pt {
    top: 35vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 9vw;
}

.texto13pt {
    top: 0vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 35vw;
}

.texto14pt {
    top: 30vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 10vw;
}

.texto15pt {
    top: 35vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 7vw;
}

.texto16pt {
    top: 35vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 9vw;
}

.texto17pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto18pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto19pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
}

.texto20pt {
    top: 25vh;
    height: 50vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 30vh;
    display: block!important;
}

.video0 {
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0px; 
    padding: 0px;  
    border: none;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    background-color: black;
  }

  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }